In [22]:
import xml.etree.ElementTree as ET
import pandas as pd

In [21]:
xml_loc = "/Users/laurenbeede/Downloads/usa_00001.xml"
dat_loc = "/Users/laurenbeede/Downloads/usa_00001.dat.gz"

In [24]:
def parse_ddi(ddi_path):
    tree = ET.parse(ddi_path)
    root = tree.getroot()
    ns = {"ddi": "ddi:codebook:2_5"}

    layout = []

    for var in root.findall(".//ddi:var", ns):
        name = var.get("name")

        loc = var.find("ddi:location", ns)
        if loc is None:
            continue

        start = int(loc.get("StartPos"))
        width = int(loc.get("width"))

        layout.append({
            "name": name,
            "start": start - 1,   # convert to 0-based indexing
            "end": start - 1 + width
        })

    return pd.DataFrame(layout).sort_values("start")

parse_ddi(xml_loc)

              name  start  end
0             YEAR      0    4
1           SAMPLE      4   10
2           SERIAL     10   18
3         CBSERIAL     18   31
4             HHWT     31   41
5          CLUSTER     41   54
6         STATEFIP     54   56
7           STRATA     56   68
8               GQ     68   69
9           PERNUM     69   73
10           PERWT     73   83
11         FAMUNIT     83   85
12          MOMLOC     85   87
13          POPLOC     87   89
14           SPLOC     89   91
15             AGE     91   94
16        HINSCAID     94   95
17        HINSCARE     95   96
18          INCTOT     96  103
19  US2010A_POVPIP    103  106

In [25]:
def read_ipums_dat(dat_gz_path, layout_df):
    colspecs = list(zip(layout_df["start"], layout_df["end"]))
    names = layout_df["name"].tolist()

    df = pd.read_fwf(
        dat_gz_path,
        colspecs=colspecs,
        names=names,
        compression="gzip",
        dtype=str   # keep everything as string initially
    )
    return df

read_ipums_dat(dat_loc, parse_ddi(xml_loc))

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STATEFIP,STRATA,GQ,PERNUM,PERWT,FAMUNIT,MOMLOC,POPLOC,SPLOC,AGE,HINSCAID,HINSCARE,INCTOT,US2010A_POVPIP
0,2010,201001,00000001,0000000000069,0000009600,2010000000011,01,000000040001,1,0001,0000009600,01,00,00,00,075,2,2,0007500,072
1,2010,201001,00000002,0000000000080,0000009700,2010000000021,01,000000220001,1,0001,0000009700,01,00,00,02,025,1,1,0017000,172
2,2010,201001,00000002,0000000000080,0000009700,2010000000021,01,000000220001,1,0002,0000012800,01,00,00,01,026,1,1,0013000,172
3,2010,201001,00000002,0000000000080,0000009700,2010000000021,01,000000220001,1,0003,0000018200,01,02,01,00,003,2,1,9999999,172
4,2010,201001,00000003,0000000000140,0000009000,2010000000031,01,000000010001,1,0001,0000009000,01,00,00,00,087,1,2,0029400,282
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3061687,2010,201001,01397788,0000001414099,0000005700,2010013977881,56,000000030056,1,0002,0000006800,01,00,00,01,026,1,1,0000000,249
3061688,2010,201001,01397788,0000001414099,0000005700,2010013977881,56,000000030056,1,0003,0000008400,01,02,01,00,003,1,1,9999999,249
3061689,2010,201001,01397788,0000001414099,0000005700,2010013977881,56,000000030056,1,0004,0000006500,01,02,01,00,001,1,1,9999999,249
3061690,2010,201001,01397789,0000001414268,0000010100,2010013977891,56,000000030056,1,0001,0000010100,01,00,00,02,055,1,1,0009000,079
3061691,2010,201001,01397789,0000001414268,0000010100,2010013977891,56,000000030056,1,0002,0000010900,01,00,00,01,052,1,1,0090000,501